body {
    font-family: "Helvetica";
    font-size: 10pt;
    background-color: #EEFFFF;
}
.page {
    width: 700px;
    margin: 0 auto;
    padding: 0.5em;
    border: 2px solid gray;
    background-color: #FBFBFB;
}
.toolbar {
    text-align: right;
}

.errorlog {
	max-height:200px;
    max-width: 630px;
    overflow:auto;
}
.textabs {
    min-height: 230px;
}

.texpreview {
    display:block;
    max-width: 630px;
}
.errormsg {
    color:red;
    font-style:bold;
}
#tagfilter {padding: 5px;}
.filtertext {padding: 1px; font-size:65%; margin-bottom:2px}
#preambles { list-style-type: none; margin: 0; padding: 0; }
#preambles li input {width: 90%; padding: .4em; padding: .4em; margin: 2px}
input.text { margin-bottom:12px; width:95%; padding: .4em; }
.exerciselist {list-style-type: none; margin: 0; padding: 0}
.exerciselist li { border: 1px solid gray; padding: 2px; margin-bottom: 6px;}
.creator { float: right }
.ui-tooltip {width: 600px; max-width: 600px; background-color: white}
.tooltipimage {width: 600px }
.exercise_toolbar a {margin-right:10px}
.progress-label {
float: left;
margin-left: 25%;
margin-top: 5px;
font-weight: bold;
text-shadow: 1px 1px 0 #fff;
}
