body {
    font-family: "Helvetica";
    font-size: 12pt;
}
.page {
    width: 700px;
    margin: 0 auto;
    padding: 0.5em;
    border: 2px solid gray;
}
.toolbar {
    text-align: right;
}
#tex_ex_de {
    position: relative;
	height: 275px;
	font-family:Monospace;
}
#errorlog {
	max-height:200px;
	overflow:auto;
}
#preambles { list-style-type: none; margin: 0; padding: 0; }
#preambles li { margin: 0 0 3px 3px; padding: 0; padding-left: 1.5em; font-size: 1.4em }
#preambles li span { position: absolute; margin-left: -1.3em; }
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
span.lbutton {margin: .2em; }
