body {
    font-family: "Helvetica";
    font-size: 10pt;
    background-color: #EEFFFF;
}
.page {
    width: 700px;
    margin: 0 auto;
    padding: 0.5em;
    border: 2px solid gray;
    background-color: #FBFBFB;
    margin-bottom: 400px;
}
.toolbar {
    text-align: right;
    background-color: #EEFFFF;
    border: 1px solid silver;
    border-radius: 5px;
    padding-right: 5px;
    padding: 3px;
    margin-bottom: 20px;
}
.currentuser {
    float: left;
}
.navlink {
    padding: 1px;
}
.errorlog {
	max-height:200px;
    max-width: 630px;
    overflow:auto;
}
.textabs {
    min-height: 230px;
}

.texpreview {
    display:block;
    max-width: 630px;
}
.errormsg {
    color:red;
    font-style:bold;
}
#filterdiv {
    padding: 5px;
    border: 1px solid silver;
    border-radius: 5px;
    margin-bottom: 10px;
}
h1 {
    font-size: 16pt;
    color: #609090;
}
h2 {
    font-size: 14pt;
    color: #609090;
}
h3 {
    font-size: 13pt;
    color: #609090;
}
.taglist {
    font-style: italic;
    }
.exercisetable th {
    text-align: left;
}
.filtertext {
    padding: 1px;
    font-size:80%;
    margin-bottom:2px
}
#preambles {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#preambles li input {
    width: 90%;
    padding: .4em;
    padding: .4em;
    margin: 2px
}
#exercisefields input.text { margin-bottom:12px; width:95%; padding: .4em; }
.exerciselist {list-style-type: none; margin: 0; padding: 0}
.exerciselist li { border: 1px solid gray; padding: 2px; margin-bottom: 6px;}
.creator { float: right }
.ui-tooltip {width: 600px; max-width: 600px; background-color: white}
.tooltipimage {width: 600px }
.exercise_toolbar a {margin-right:10px}
.progress-label {
    float: left;
    margin-left: 25%;
    margin-top: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
.comment {font-style: italic}
.formlabel {
    width: 10em;
    display : block;
    float : left;
}
