{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/codemirror.css')}}"></link>

<script src="{{url_for('static', filename='js/codemirror.js')}}"></script>
<script src="{{url_for('static', filename='js/codemirror-stex.js')}}"></script>

<script>
	// global dict holding the TeX editors; maps textype+lang to CodeMirror object
	editors = {} 
	$(function() {
     	// make CodeMirror editors from the .latexeditor textareas
        createLatexEditors();
     	// make jQueryUI tabs for exercise/solution edit components
        $('.textabs').each(function(i, elem) {
        	var textab = $(elem).find(".textab");
            $(elem).tabs({
            	show: function(event, ui) {
            		editors[textab.attr("textype")+textab.attr("lang")].refresh();
            	}
            });
        });
     	// make compile buttons that call compileSnippet()
        $( '.compilebutton' ).button()
            .click(function(event) {
            	event.preventDefault();
                compileSnippet($(this).parents(".textab"));            
            });
        // activate addPreamble button
        $("#addpreamble").button()
            .click(function(event) {
            	event.preventDefault();
                addPreambleLine();
            });
     	// activate submit button
        $("#submitbutton").button()
        	.click(function(event) {
        		event.preventDefault();
        		submit();
        	});
	    {% if exercise %}
	        mode = "edit";
	        exJson = $.parseJSON('{{exercise|safe}}');
	        fillEditFields(exJson);
	    {% else %}
	        mode = "add";
	    {% endif %}
	 	// init tags autocomplete
	    availableTags = $.parseJSON('{{tags|safe}}');
        installTagAutocompletion();
	    // create tag tree for easier selection
        makeTagTree().dynatree("option", "onClick", function(node, event) {
            if (node.data.is_tag)
            	updateTagField(node.data.title);
        });
        // hide inactive elements
        $(".texpreview").not("[src]").hide();
        $(".errorlog").hide();
        
    });
</script>
{% endblock %}

{% block body %}
<h1 id="addeditheading">New Exercise</h1>

<form><fieldset id="exercisefields">
    <label for="description">Description</label>
    <input type="text" id="description" class="text ui-widget-content ui-corner-all"></input>
    <label for="tags">Tags <span class="comment">(please use english tag names for consistency)</span></label>
    <input id="tags" class="text ui-widget-content ui-corner-all" />
    <div id="tagtree"></div>
    <label for="preamble">Preamble <span class="comment">(special \usepackage, \newcommand, etc. for this exercise)</span></label>
    <ul id="preambles">
    </ul>
    <button id="addpreamble">add line</button>

    {% for typ in ("exercise", "solution") %}
        <h2>{{typ|capitalize}} tex code</h2>
        <div class="textabs" textype="{{typ}}">
            <ul>
                {% for lang in "DE", "EN" %}
                  <li><a href="#textab_{{typ}}_{{lang}}"><img src="{{imagePath('{}.png'.format(lang))}}"/></a></li>
                {% endfor %}
            </ul>
            {% for lang in "DE", "EN" %}
                <div id="textab_{{typ}}_{{lang}}" lang="{{lang}}" textype="{{typ}}" class="textab">
                    <img class="texpreview"/>
                    <div class="errorlog"><label class="errormsg">Error compiling source</label><pre></pre></div>
                    <textarea class="latexeditor ui-widget-content"></textarea>
                    <button class="compilebutton">compile</button>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</fieldset></form>

<button id="submitbutton">submit</button>
{% endblock %}


