<p class="comment">{{exercises|length}} exercise{{"s" if exercises|length != 1 else ""}} match{{"es" if exercises|length==1 else ""}} filter</p>
{% for exercise in exercises %}
    <li number="{{exercise.number}}" creator="{{exercise.creator}}" class="exercise_listentry  ui-widget-content">
        <table class="exercisetable"><thead><tr><th>{{exercise.description}}</th></tr></thead>
        <tbody>
            <tr><td class="taglist">{{", ".join(exercise.tags)}}</td></tr>
            <tr><td>
                {% for (typ, dct) in ("exercise", exercise.tex_exercise), ("solution", exercise.tex_solution) %}
                {% if dct %}
                <span class="flaglabel">{{typ|capitalize}}</span>
                {% for lang, tex in dct.items() %}
                <img
                  class="exerciseflag"
                  src="{{url_for('static', filename='images/{}.png'.format(lang))}}"
                  imgurl="{{url_for('preview', creator=exercise.creator, number=exercise.number, type=typ, lang=lang)}}"
                />
                <span style="margin-left:20px"></span>
                {% endfor %}
                {% endif %}
            {% endfor %}
            </td></tr></tbody></table>
        <div class="exercise_toolbar">
            <a href="{{url_for('details', creator=exercise.creator, number=exercise.number)}}">details</a>
            <a href="{{url_for('edit', creator=exercise.creator, number=exercise.number)}}">edit</a>
            <a class="removelink" href="#">remove</a>
            <span class="creator">entered by {{exercise.creator}} modified {{exercise.modified}}</span>
        </div>
    </li>
{% endfor %}
