{% for exercise in exercises %}
    <li number="{{exercise.number}}" creator="{{exercise.creator}}" class="exercise_listentry">
        <table><tbody>
            <tr><td>Description:</td><td>{{exercise.description}}</td></tr>
            <tr><td>Tags:</td><td class="taglist">{{", ".join(exercise.tags)}}</td></tr>
            {% for (typ, dct) in ("exercise", exercise.tex_exercise), ("solution", exercise.tex_solution) %}
            <tr><td>{{typ}}:</td><td>
                {% for lang, tex in dct.items() %}
                <img
                  class="exerciseflag"
                  src="{{url_for('static', filename='images/{}.png'.format(lang))}}"
                  imgurl="{{url_for('static', filename='exercises/{}/{}_{}.png'.format(exercise.identifier(), typ, lang))}}"
                />
                {% endfor %}
            </td></tr>
            {% endfor %}
        </tbody></table>
        <div class="exercise_toolbar">
            <a href="{{url_for('details', creator=exercise.creator, number=exercise.number)}}">details</a>
            <a href="{{url_for('edit', creator=exercise.creator, number=exercise.number)}}">edit</a>
            <a class="removelink" href="#">remove</a>
            <span class="creator">entered by {{exercise.creator}} modified {{exercise.modified}}</span>
        </div>
    </li>
{% endfor %}
