<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Exercise Database</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/smoothness/jquery-ui-1.10.2.custom.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    
    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='js/jquery-1.9.1.js')}}"></script>
    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='js/jquery-ui-1.10.2.custom.js')}}"></script>
    
    <script>
        $(function() {
            $("#logout").button();
        });
    </script>
    {% block head %}{% endblock %}
</head>

<body>
    
<div class="page">
  {% if session.get("user") %}
    <div class="toolbar">
        <a href="{{ url_for('list') }}">list</a>
        <a href="{{ url_for('add') }}">add</a>
        <a href="{{ url_for('logout') }}">logout</a>
    </div>
  {% endif %}
  {% block body %}{% endblock %}
</div>
  
</body>

</html>
