{% extends "layout.html" %}


{% block sidebar %}
<!-- filters: tag tree, language filters, and description search box -->
<aside id="filterdiv">
    <p>Filter exercises:</p>
    <div id="tagtree"></div>
    {% for lang in "DE", "EN" %}
    <input type="checkbox" lang="{{lang}}" class="filterbutton" id="langfilterbutton{{lang}}"/><label class="filtertext" for="langfilterbutton{{lang}}">{{lang}}</label>
    {% endfor %}
    <div id="descriptionsearch">
        <label for="searchfield">Search in description:</label><br/>
        <input type="text" id="searchfield" style="width: 95%" "class="text ui-widget-content ui-corner-all"></input>
    </div>
    <a id="clearfilters" href="#">clear filters</a><br/>
    <p class="comment"><span id="exercisenumber"></span> matching exercises. Sort by:</p>
	<div id="sortbuttons">
	    <input type="radio" id="sortdate" name="sort" column="modified" checked="checked" naturalsort="desc"/><label for="sortdate">date</label>
	    <input type="radio" id="sortdesc" name="sort" column="description" naturalsort="asc"/><label for="sortdesc">description</label>
	    <input type="radio" id="sortcrea" name="sort" column="creator||number" naturalsort="asc"/><label for="sortcrea">creator</label>
    </div>
    <div id="pagebuttons"></div>
</aside>
{% endblock %}

{% block body %}
<h1>List of Exercises</h1>
<!-- the list of exercises matching the filter (generated dynamically by ajax calls)-->
<ul id="exerciselist">
</ul>

<!-- confirm dialog for removing exercises; normally hidden -->
<div id="confirm_remove" title="Really delete exercise?">
<p id="remove_dialog_message"><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span></p>
</div>

<script>
    $( function() {
        // image tooltips for exercise and solution flags
        enableImgTooltips();
        $("#clearfilters").click( clearFilters );
        makeTagTree(false)
        .dynatree("option", "checkbox", true)
        .dynatree("option", "onSelect", function(event) {
        	searchExercises(0);
        });
        $(".filterbutton").button().click( function(event) {
        	searchExercises(0);
        });
        $("#searchfield").keyup(function(event) {
            var val = $(this).val();
            setTimeout(function() {
                if ($("#searchfield").val() == val)
                    searchExercises(0);
                }, 200);
        });
        // open confirm dialog if removelink is clicked
        $(document).on("click", ".removelink", function(event) {
            event.preventDefault();
            var table = $(this).closest(".exercise_listentry");
            var creator = table.attr("creator");
            var number = table.attr("number");
            $("#remove_dialog_message").text("Are you sure to remove exercise '" + creator + number + "'?");
            $("#confirm_remove").data("creator", creator);
            $("#confirm_remove").data("number", number);
            $("#confirm_remove").dialog("open");
        });
        $("#confirm_remove").dialog({
            autoOpen:false, resizable:false, modal:true,
            buttons: {
                Ok: function() {
                    creator = $(this).data("creator");
                    number = $(this).data("number");
                    $.post(
                        '{{url_for("remove")}}',
                        { creator: creator, number: number },
                        function(resp) {
                           $('.exercise_listentry[creator="' + creator + '"][number="' + number + '"]').remove();
                           $("#tagtree").dynatree("getTree").reload();
                           searchExercises();
                        }
                    );
                    $(this).dialog("close");
                },
                Cancel: function() {
                    $(this).dialog("close");
                }
            }
        });
        $("#sortbuttons").buttonset();
        setSorting($("#sortdate"), "desc");
        $("#sortbuttons>input").click(function(event) {
        	switch ($(this).data("sort")) {
	            case "asc":
	                setSorting($(this), "desc");
	                break;
	            case "desc":
	                setSorting($(this), "asc");
	                break;
	            default:
	                setSorting($(this), $(this).attr("naturalsort"));
        	}
        	$(this).siblings("input").each(function(i, elem) {
        		setSorting($(elem), null);
        	});
        	searchExercises();
        });
        searchExercises();
    });   
</script>
{% endblock %}
