{% extends "layout.html" %}


{% block sidebar %}
<!-- filters: tag tree, language filters, and description search box -->
<aside id="filterdiv">
    <p>Filter exercises:</p>
    <div id="tagtree"></div>
    {% for lang in "DE", "EN" %}
    <input type="checkbox" lang="{{lang}}" class="filterbutton" id="langfilterbutton{{lang}}"/><label class="filtertext" for="langfilterbutton{{lang}}">{{lang}}</label>
    {% endfor %}
    <div id="descriptionsearch">
        <label for="searchfield">Search in description:</label><br/>
        <input type="text" id="searchfield" style="width: 95%" "class="text ui-widget-content ui-corner-all"></input>
    </div>
    <a id="clearfilters" href="#">clear filters</a><br/>
    <p class="comment"><span id="exercisenumber"></span> matching exercises. Sort by:</p>
	<div id="sortbuttons">
	    <input type="radio" id="sortdate" name="sort" column="modified" checked="checked" naturalsort="desc"/><label for="sortdate">date</label>
	    <input type="radio" id="sortdesc" name="sort" column="description" naturalsort="asc"/><label for="sortdesc">description</label>
	    <input type="radio" id="sortcrea" name="sort" column="creator||number" naturalsort="asc"/><label for="sortcrea">creator</label>
    </div>
    <div id="pagebuttons"></div>
</aside>
{% endblock %}

{% block body %}
<h1>List of Exercises</h1>
<!-- the list of exercises matching the filter (generated dynamically by ajax calls)-->
<ul id="exerciselist">
</ul>

<script>
    $( function() {
        // image tooltips for exercise and solution flags
        enableImgTooltips();
        // enable the button to clear search filters
        $("#clearfilters").click( clearFilters );
        // create the tag tree (without dnd support) and associate selects with searchExercises
        makeTagTree(false)
        .dynatree("option", "checkbox", true)
        .dynatree("option", "onSelect", function() {searchExercises(0);});
        // filterbuttons also trigger search
        $(".filterbutton").button().click( function() {searchExercises(0); });
        // ... so does a keyup event in the search field (after a small timeout)
        $("#searchfield").keyup(function(event) {
            var val = $(this).val();
            setTimeout(function() {
                if ($("#searchfield").val() == val)
                    searchExercises(0);
                }, 200);
        });
        // handle removelink clicks
        $(document).on("click", ".removelink", function(event) {
            event.preventDefault();
            removeExercise($(this).attr("creator"), $(this).attr("number"));
        });
        initSortButtons();
        // initial search to fill the list
        searchExercises(0);
    });   
</script>
{% endblock %}
